<head> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  
</head>
{{#each movies as |movie| }}
<div class="card">
    <h2>
      {{{get_emoji}}}
      <a href="/movie/{{movie.id}}">{{movie.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">📽 MAYBE REMOVE THIS ICON?</span>
      <span class="dollar-amount">{{format_amount movie.needed_funding}}</span>
      ADD STAR CODE HERE IN HOMEPAGE.HANDLEBARS

      
    </p>
    <p>Created by {{movie.user.name}} on {{format_date movie.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{movie.description}}
    </p>
  </div>
</div>
{{/each}}
