<html> 
<head> 
<link rel="stylesheet" href="../css/movie.css">    
    
</head>
<body>

      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>

  <div class="text-center stuff">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span class="rating-amount">Rating on a scale of 1-5: {{format_amount movie_rating}}</span>
    
     <div class="rating">
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
   </div>

  </p>
</div>
  </html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>